<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydefault.app.common.batch.serviceimpl.BatchMapper">
	<!--	<![CDATA[, ]]>	-->
	<select id='list' resultType="MyMap">
		SELECT 
			CAST(@rownum:=@rownum+1 AS UNSIGNED ) AS ROWNUM, 
			B.BATCH_ID ,
		    B.BATCH_NM ,
		    B.BATCH_DC , 
		    B.JOB_EXECUT , 
		    B.JOB_PARAM , 
		    B.JOB_SE_CD_ID , 
		    B.JOB_PD_CD_ID , 
		    B.JOB_BGNDE , 
		    B.JOB_ENDDE , 
		    B.JOB_CYCLE_CD_ID , 
		    B.USE_AT 
		    
		FROM TB_CO_BATCH B
		WHERE (@rownum:=0)=0;
	</select>
	
	<select id='view' resultType="BatchVO">
		SELECT 
			B.BATCH_ID ,
		    B.BATCH_NM ,
		    B.BATCH_DC , 
		    B.JOB_EXECUT , 
		    B.JOB_PARAM , 
		    B.JOB_SE_CD_ID , 
		    B.JOB_PD_CD_ID , 
		    B.JOB_BGNDE , 
		    B.JOB_ENDDE , 
		    B.JOB_CYCLE_CD_ID , 
		    B.USE_AT 
		    
		FROM TB_CO_BATCH B
		WHERE B.BATCH_ID = #{batchId}
	</select>
	
	<select id='viewList' resultType="MyMap">
		SELECT 
			B.BATCH_ID ,
		    B.BATCH_NM ,
		    B.BATCH_DC , 
		    B.JOB_EXECUT , 
		    B.JOB_PARAM , 
		    B.JOB_SE_CD_ID , 
		    B.JOB_PD_CD_ID , 
		    B.JOB_BGNDE , 
		    B.JOB_ENDDE , 
		    B.JOB_CYCLE_CD_ID , 
		    B.USE_AT ,
            
            BJ.JOB_SN , 
            BJ.JOB_DE , 
            BJ.JOB_WEEK , 
            BJ.JOB_MONTH , 
            BJ.JOB_DAY , 
            BJ.JOB_HOUR , 
            BJ.JOB_MINUTE 
		    
		FROM TB_CO_BATCH B
        LEFT OUTER JOIN TB_CO_BATCH_JOB BJ
			ON B.BATCH_ID = BJ.BATCH_ID 
		WHERE B.BATCH_ID = #{batchId}
	</select>
</mapper>
